@use '../root' as *;
@use '../utilities' as *;


.about1{
    &-thumb {
        position: relative;
        &__one {
            position: relative;
            padding-top: 50px;
            z-index: 9;
            
            img {
                border-radius: 20px;
            }
        }
        &__two {
            padding-top: 228px;
            position: relative;
            z-index: 9;
            @include breakpoint (max-sm) {
                padding-top: 20px;
            }
            
            img {
                border-radius: 20px;
            }
        }

        &__shape1 {
            display: none;
            @include breakpoint (sm) {
                display: block;
                position: absolute;
                top: 0px;
                right: 15px;
                z-index: 9;
            }
            @include breakpoint (md) {
                right: 84px;
            }
            @include breakpoint (lg) {
                top: 32px;
                right: 32px;
                left: 40px;
            }
            @include breakpoint (xl) {
                top: 0px;
                right: 46px;
                left: 46px;
            }
            @include breakpoint (xxl) {
                top: 0px;
                left: 55px;
            }
        }
        &__shape2 {
            display: none;
            @include breakpoint (sm) {
                display: block;
                position: absolute;
                top: 100px;
                left: 10px;
                right: 7px;
            }
            @include breakpoint (md) {
                top: 100px;
                left: 22px;
            }
            @include breakpoint (lg) {
                top: 100px;
                left: 10px;
            }
            @include breakpoint (xl) {
                left: 25px;
                right: 15px;
            }
        }
        &__shape3 {
            display: none;
            @include breakpoint (sm) {
                display: block;
                position: absolute;
                bottom: -129px;
                right: 14px;
                left: 16px;
            }
            @include breakpoint (md) {
                position: absolute;
                bottom: -129px;
                right: 14px;
                left: 22px;
            }
            @include breakpoint (lg) {
                position: absolute;
                bottom: -103px;
                right: 14px;
                left: 22px;
            }
            @include breakpoint (xl) {
                bottom: -129px;
                right: 30px;
            }
        }
        &__shape4 {
            display: none;
            @include breakpoint (sm) {
                display: block;
                position: absolute;
                bottom: -73px;
                right: 36px;
                left: 40px;
            }       
            @include breakpoint (md) {
                position: absolute;
                bottom: -75px;
                right: 83px;
            }       
            @include breakpoint (lg) {
                position: absolute;
                bottom: -61px;
                right: 35px;
            }       
            @include breakpoint (xl) {
                bottom: -75px;
                right: 55px;
            }       
        }
    }
    &-content {
        padding-top: 66px;
        @include breakpoint (max-xl) {
            padding-top: 35px;
        }
        &-checklist {
            padding-top: 27px;
            padding-bottom: 20px;
            &-item {
                display: flex;
                align-items: center;
                gap: 7px;
                padding-bottom: 20px;
                &__text {
                    color: $title-color;
                    font-family: $body-font;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 30px;
                }
            }
        }
    }
}

.about2 {
    &-thumb {
        position: relative;
        &__one {
            position: relative;
            
            img {
                border-radius: 20px;
            }
        }

        &__shape {
            position: absolute;
            top: 0px;
            right: -55px;
            @include breakpoint (xxsmall){
                top: -9px;
                right: -50px;
            }
            @include breakpoint (xsmall){
                top: -9px;
                right: -25px;
            }
            @include breakpoint (md){
                top: 9px;
                right: 90px;
            }
            @include breakpoint (lg){
                top: 9px;
                right: 36%;
            }
            @include breakpoint (xl){
                top: -20px;
                right: -3px;
            }
            @include breakpoint (xxl){
                top: 6px;
                right: 36px;
            }

            img {
                width: 50%;
                @include breakpoint (xxsmall){
                    width: 60%;                
                }
                @include breakpoint (xsmall){
                    width: 70%;                
                }
                @include breakpoint (md){
                    width: 100%;  
                }
            }
        }
    }
    &-content {
        padding-top: 95px;
        @include breakpoint (max-xl) {
            padding-top: 45px;
        }
    }
    &-slider {
        display: flex;
        justify-content: space-between;
        width: 100%;
        &__title {
            color: $title-color;
            max-width: 216px;
        }
        &__number {
            color: $theme-color;
        }
        &__thumb {
            img {
                width: 63px;
                height: 70px;
                object-fit: contain;
            }

        }
    }
}

.about3{
    &-thumb {
        position: relative;
        display: flex;
        gap: 15px;
        @include breakpoint (sm) {
            gap: 24px;
        }

        &__one {
            position: relative;
            z-index: 9;
            border-radius: 20px;
            
            img {
                border-radius: 20px;
            }
        }
        &__two {
            position: relative;
            z-index: 9;
            border-radius: 20px;
            padding-top: 60px;
            @include breakpoint (md) {
                padding-top: 100px;
            }
            
            img {
                border-radius: 20px;
            }
        }

        &__shape1 {
            display: none;
            @include breakpoint (lg) {
                display: block;
                position: absolute;
                top: 19px;
                left: 18%;
            }
            @include breakpoint (xl) {
                position: absolute;
                top: 1px;
                left: 19%;
            }
            @include breakpoint (xxl) {
                position: absolute;
                top: 32px;
                left: 25%;
            }
        }
        &__videoIcon {
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 99;
            transform: translate(-50%, -50%);

            @include breakpoint (md) {
                left: 46%;
            }
            @include breakpoint (lg) {
                left: 34%;
            }
            @include breakpoint (xl) {
                left: 50%;
            }

            svg {
                width: 80px;
                height: 80px;
                @include breakpoint (sm) {
                    width: 120px;
                    height: 120px;
                }
                :hover {
                    fill: $title-color;
                }
            }
        }


    }
    &-content-box {
        display: flex;
        align-items: center;
        gap: 20px;
        padding-top: 40px;
        @include breakpoint (max-xl) {
            padding-top: 35px;
        }
        @include breakpoint (max-sm) {
            flex-wrap: wrap;
        }
        
        &__thumb {
            border-radius: 20px;
            img {
                border-radius: 20px;
                max-width: fit-content;
            }
        }
        &-details {
            &-text {
                display: flex;
                align-items: center;
                gap: 15px;
                padding-bottom: 10px;
                &__numb {
                    color: $title-color;
                    font-family: $title-font;
                    font-size: 60px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 66px;
                    letter-spacing: -1.2px;
                    text-transform: uppercase;
                }
                &__desc {
                    color: $title-color;
                    font-family: $title-font;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 26px; 
                    letter-spacing: -0.4px;
                    text-transform: uppercase;
                }
            }  
        }
        p {
            color: $title-color-2;
            font-family: $body-font;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 26px;
        }
    }
}