@use '../root' as *;
@use '../utilities' as *;
 
 
 .contact1 {
    &-content {
      @include breakpoint (xl) {
        padding-right: 80px;
      }
      &__formCtrl{
          span {
            color: $title-color;
            font-weight: 600;
            text-transform: capitalize;
          }
  
          input {
            border: 1px solid rgba(38, 38, 38, 0.10);
            color: $title-color;
            background: $white;
            padding: 15px 20px;
            border-radius: 6px;
            width: 100%;

            &::placeholder {
              color: $title-color;
            }
          }
  
          textarea {
              border: 1px solid rgba(38, 38, 38, 0.10);
              color: $title-color;
              background: $white;
              padding: 18px 20px;
              border-radius: 5px;
              padding-bottom: 150px;
              height: 178px;
              padding: 18px 20px;
              width: 100%;
              outline: none;
              
              &::placeholder {
                  color: $title-color;
              }
          }
      }
    }
    &-thumb {
      position: relative;
      &__one {
        position: relative;
        
        img {
            border-radius: 20px;
        }
      }

      &__shape {
        position: absolute;
        top: -5px;
        left: 16px;
        @include breakpoint (xxsmall){
          top: -9px;
          right: -50px;
        }
        @include breakpoint (xsmall){
            top: -9px;
            right: -25px;
        }
        @include breakpoint (md){
            top: 0px;
            right: 90px;
        }
        @include breakpoint (lg){
            top: 9px;
            right: 36%;
        }
        @include breakpoint (xl){
            top: 0px;
            right: -3px;
        }
        @include breakpoint (xxl){
            top: 6px;
            right: 36px;
        }

        img {
          width: 50%;
          @include breakpoint (xxsmall){
              width: 25%;                
          }
          @include breakpoint (xsmall){
              width: 27%;                
          }
          @include breakpoint (md){
              max-width: 100%;  
          }
        }
      }
    }
  }

  .contact2 {
    &-content {
      @include breakpoint (xl) {
        max-width: 904px;
      }
    }
  }

  .contact3 {
    &-card {
      padding: 40px 30px;
      border-radius: 20px;
      background: $gray-color-1;
      @include breakpoint (max-lg) {
        padding: 20px;
      }

      &__icon {
        display: flex;
        width: 80px;
        height: 80px;
        padding: 20px;
        justify-content: center;
        align-items: center;
        border-radius: 6px;
        background: rgba(243, 96, 76, 0.10);
        margin-bottom: 57px;

        svg path {
          fill: $title-color; 
        } 
        @include breakpoint (max-lg) {
          width: 60px;
          height: 60px;
          padding: 16px;
        }

      }
      &__label {
        color: $title-color-2;
        font-family: $body-font;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px; 
        padding-bottom: 6px;
      }
      &__info {
        color: $title-color;
        font-family: $title-font;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 30px; 
        letter-spacing: -0.48px;
        text-transform: uppercase;
        @include breakpoint (max-lg) {
          font-size: 20px;
        }
      }

      &:hover {
        .contact3 {
          &-card {
            &__icon {
              background: $theme-color;
              
              svg g rect {
                fill: $white;
                stroke: $white;      
              }

              svg path {
                fill: $white; 
              }
                          
            }
          }
        }
      }
    }
  }