@use '../root' as *;
@use '../utilities' as *;


.project1 {
    &-card1 {
        padding-top: 0px;
        padding-bottom: 75px;
        @include breakpoint (md) {
            padding-top: 80px;
            padding-bottom: 75px;
        }

        @include breakpoint (md) {
            padding-top: 138px;
            padding-bottom: 133px;
        }

        &__thumb {
            padding-bottom: 22px;
            border-radius: 20px;
            img {
                border-radius: 20px;
            }
        }
        &__category {
            padding-bottom: 7px;
        }
        &__title {
            text-transform: uppercase;
            max-width: 535px;
        }

    }
    &-card2 {
        padding-bottom: 50px;
        @include breakpoint (md) {
            padding-bottom: 0px;
        }
        &__thumb {
            padding-bottom: 22px;
            border-radius: 20px;
            img {
                border-radius: 20px;
            }
        }
        &__category {
            padding-bottom: 7px;
        }
        &__title {
            text-transform: uppercase;
        }

    }
    &-card3 {
        padding-bottom: 80px;
        @include breakpoint (md) {
            padding-bottom: 133px;       
        }
        &__thumb {
            padding-bottom: 22px;
            border-radius: 20px;
            img {
                border-radius: 20px;
            }
        }
        &__category {
            padding-bottom: 7px;
        }
        &__title {
            text-transform: uppercase;
            max-width: 535px;
        }

    }
    &-card4 {
        padding-left: 0px;

        @include breakpoint (xl) {
            padding-left: 108px;            
        }
        &__thumb {
            padding-bottom: 22px;
            text-align: end;
            border-radius: 20px;
            img {
                border-radius: 20px;
            }
        }
        &__category {
            padding-bottom: 7px;
        }
        &__title {
            text-transform: uppercase;
            max-width: 535px;
        }

    }
    &-card5 {
        display: flex;
        justify-content: center;
        padding-left: 0px;
        padding-top: 45px;
        @include breakpoint (md) {
            padding-top: 130px;
        }
        @include breakpoint (xl) {
            padding-left: 108px;            
        }

        &__button {
            color: $white;
            background-color: $theme-color;
            font-family: $title-font;
            font-size: 18px;
            font-style: normal;
            font-weight: 600;
            line-height: 20px;
            letter-spacing: -0.36px;
            text-transform: uppercase;
            width: 160px;
            height: 160px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            
        }        
        :hover {
            .project1 {
                &-card5 {
                    &__button {
                        background-color: $title-color;
                    }
                }
            }
        }
    }
}

.project2 {
    &-card {
        position: relative;
        &__thumb {
            position: relative;
            border-radius: 20px;
            img {
                border-radius: 20px;
            }
        }
        &-content {
            visibility: hidden;
            opacity: 0;
            padding: 20px 24px;
            border-radius: 12px;
            background: $white;
            position: absolute;
            left: 28px;
            right: 28px;
            bottom: 28px;
            @include transition;
            
            &__link {
                display: flex;
                justify-content: space-between;
                align-items: center;
                p {
                    color: $title-color;
                    font-family: $body-font;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 30px; /* 166.667% */
                }
            }
        }
        &:hover {
            .project2 {
                &-card {
                    &-content {
                        visibility: visible;
                        opacity: 1;
                        left: 28px;
                        right: 28px;
                        bottom: 28px;
                        @include transition;
                    }
                }
            }
        }
    }
}

.project3 {
    &-card {
        position: relative;
        &__thumb {
            position: relative;
            border-radius: 20px;
            img {
                border-radius: 20px;
            }
        }
        &-content {
            visibility: hidden;
            opacity: 0;
            padding: 20px 24px;
            border-radius: 12px;
            background: $white;
            position: absolute;
            left: 28px;
            right: 28px;
            bottom: 28px;
            max-width: 384px;
            @include transition;
            
            &__link {
                display: flex;
                justify-content: space-between;
                align-items: center;
                p {
                    color: $title-color;
                    font-family: $body-font;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 30px;
                }
            }
        }
        &:hover {
            .project3 {
                &-card {
                    &-content {
                        visibility: visible;
                        opacity: 1;
                        left: 28px;
                        right: 28px;
                        bottom: 28px;
                        @include transition;
                    }
                }
            }
        }
    }
}

.project4 {
    &-details {
        padding-bottom: 35px;
        &__thumb {
            border-radius: 20px;
            img {
                border-radius: 20px;
            }
        }
        &-content {
            &__title{
                padding-bottom: 23px;
            }
            &__desc {
                padding-bottom: 25px;
            }
            &-thumb {
                display: flex;
                gap: 24px;
                padding-top: 14px;
                padding-bottom: 40px;

                img {
                    border-radius: 20px;
                }
            }
            &__desc2 {
                padding-bottom: 61px;
            }
            &__title2 {
                padding-bottom: 20px;
            }
        }        
    }
}