@use '../root' as *;
@use '../utilities' as *;


.service1 {
    &-card {
        padding: 30px;
        border-radius: 20px;
        background-color: $white;
       @include transition;

        &__icon {
            display: flex;
            width: 70px;
            height: 70px;
            padding: 15px;
            justify-content: center;
            align-items: center;
            border-radius: 6px;
            background-color: rgba(243, 96, 76, 0.10);
            margin-bottom: 60px;
            @include transition; 
        }

        &__title {
            color: $title-color;
            font-family: $title-font;
            font-size: 24px;
            font-style: normal;
            font-weight: 600;
            line-height: 30px; 
            letter-spacing: -0.48px;
            text-transform: uppercase;
            margin-bottom: 12px;
        }

        &__desc {
            color: $title-color;
            font-family: $body-font;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 30px;
            margin-bottom: 20px;
        }

        &__link {
            color: $theme-color;
            font-family: $title-font;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 20px;
            letter-spacing: -0.32px;
            text-transform: uppercase;
            text-decoration: underline;
        }
        &--bg {
            background: $gray-color-1;
        }

        &:hover {
            .service1 {
                &-card {
                    &__icon {
                        background-color: $theme-color;

                        svg {
                            path {
                                stroke: $white;                                
                            }
                        }

                        &--fill {
                            svg {
                                path {
                                    fill: $white;
                                }
    
                            }
                        }
                    }
                }
            }
        }
    }
    &-view {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        @include breakpoint (max-md) {
            padding-top: 55px;
        }
        &__icon {
            padding-bottom: 21px;
            text-align: center;
            
            svg {
                background: $theme-color;
                border-radius: 50px;
                padding: 21px;
                width: 74px;
                height: 74px;
                &:hover {
                    background: $title-color;
                }
            }
        }
        &__title {
            color: $title-color;
            text-align: center;
            font-family: $title-font;
            font-size: 24px;
            font-style: normal;
            font-weight: 600;
            line-height: 30px; 
            letter-spacing: -0.48px;
            text-transform: uppercase;
        }
    }
}

.service2 {
    &-card {
        padding: 30px;
        border-radius: 20px;
        background-color: $gray-color-1;
       @include transition;

        &__icon {
            display: flex;
            width: 70px;
            height: 70px;
            padding: 15px;
            justify-content: center;
            align-items: center;
            border-radius: 6px;
            background-color: rgba(243, 96, 76, 0.10);
            margin-bottom: 60px;
            @include transition; 
        }

        &__title {
            color: $title-color;
            font-family: $title-font;
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: 26px;
            letter-spacing: -0.4px;
            text-transform: uppercase;
            margin-bottom: 12px;
        }

        &__desc {
            color: $title-color;
            font-family: $body-font;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 26px;
            margin-bottom: 20px;
        }

        &__link {
            color: $theme-color;
            font-family: $title-font;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 20px;
            letter-spacing: -0.32px;
            text-transform: uppercase;
            text-decoration: underline;
        }

        &:hover {
            .service2 {
                &-card {
                    &__icon {
                        background-color: $theme-color;

                        svg {
                            path {
                                stroke: $white;                                
                            }
                        }

                        &--fill {
                            svg {
                                path {
                                    fill: $white;
                                }
    
                            }
                        }
                    }
                }
            }
        }
    }
}

.service3 {
    &-card {
        margin-bottom: 24px;
        padding: 30px;
        border-radius: 20px;
        background-color: $gray-color-1;
       @include transition;

        &__icon {
            display: flex;
            width: 80px;
            height: 80px;
            padding: 20px;
            justify-content: center;
            align-items: center;
            border-radius: 6px;
            background-color: rgba(243, 96, 76, 0.10);
            margin-bottom: 60px;
            @include transition; 
        }

        &__title {
            color: $title-color;
            font-family: $title-font;
            font-size: 24px;
            font-style: normal;
            font-weight: 600;
            line-height: 30px; 
            letter-spacing: -0.48px;
            text-transform: uppercase;
            margin-bottom: 12px;
        }

        &__desc {
            color: $title-color;
            font-family: $body-font;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 26px;
            margin-bottom: 20px;
        }

        &__link {
            color: $theme-color;
            font-family: $title-font;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 20px;
            letter-spacing: -0.32px;
            text-transform: uppercase;
            text-decoration: underline;
        }

        &:hover {
            .service3 {
                &-card {
                    &__icon {
                        background-color: $theme-color;

                        svg {
                            path {
                                stroke: $white;                                
                            }
                        }

                        &--fill {
                            svg {
                                path {
                                    fill: $white;
                                }
    
                            }
                        }
                    }
                }
            }
        }
    }
}

.service4 {
    &-details {
        @include breakpoint (xxxl) {
            padding-right: 22px;
        }
        &__thumb {
            padding-bottom: 40px;
            border-radius: 20px;
            img {
                border-radius: 20px;
            }
        }
        &-content {
            &__title{
                padding-bottom: 23px;
            }
            &__desc {
                padding-bottom: 25px;
            }
            &-thumb {
                display: flex;
                gap: 24px;
                padding-top: 14px;
                padding-bottom: 40px;

                img {
                    border-radius: 20px;
                }
            }
            &__desc2 {
                padding-bottom: 61px;
            }
            &__title2 {
                padding-bottom: 18px;
            }
        }        
    }
}