@use '../root' as *;
@use '../utilities' as *;


/*----------------------------------------------
    # Title style here
----------------------------------------------*/
 .section-top {
    &__subtitle {
        color: $theme-color; 
        font-family: $title-font;  
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 20px;  
        letter-spacing: -0.36px;
        text-transform: uppercase;
        margin-bottom: 12px;
    }
    &__subtitle2 {
        color: $theme-color; 
        font-family: $title-font;  
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 20px;  
        letter-spacing: -0.36px;
        text-transform: uppercase;
        margin-bottom: 12px;
    }

    &__title {
        color: $title-color; 
        font-family: $title-font;  
        font-size: 60px;
        font-style: normal;
        font-weight: 600;
        line-height: 66px;  
        letter-spacing: -1.2px;
        text-transform: uppercase;
        @include breakpoint (max-xl) {
            font-size: 45px;
            line-height: 50px;
        }
        @include breakpoint (max-md) {
            font-size: 42px;
            line-height: 45px;
        }
        @include breakpoint (max-sm) {
            font-size: 30px;
            line-height: 40px;
        }
    }
    &__title2 {
        color: $white;
    }

    &__desc {
        color: $title-color; 
        font-family: $body-font;  
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;  
    }
    &__desc2 {
        color: $white; 
    }
    &__desc3 {
        color: $title-color-2; 
    }
 }