@use '../root' as *;
@use '../utilities' as *;


.wcu1{
    &-thumb {
        position: relative;
        &__one {
            position: relative;
            z-index: 9;
            
            img {
                border-radius: 20px;
            }
        }
        &__two {
            padding-top: 0;
            position: relative;
            z-index: 9;
            @include breakpoint (sm) {
                padding-top: 180px;
            }
            
            img {
                border-radius: 20px;
            }
        }

        &__shape1 {
            display: none;

            @include breakpoint (sm) {     
                display: block;
                position: absolute;
                top: 112px;
                right: 35px;
                left: 35px;
                z-index: 9;
            }
            @include breakpoint (md) {     
                position: absolute;
                top: 105px;
                right: 35px;
                left: 44px;
                z-index: 9;
            }
            @include breakpoint (lg) {     
                position: absolute;
                top: 123px;
                right: 35px;
                left: 44px;
                z-index: 9;
            }
            @include breakpoint (xl) {     
                position: absolute;
                top: 100px;
                right: 50px;
                z-index: 9; 
            }
        }
        &__shape2 {
            display: none;

            @include breakpoint (sm) {     
                display: block;
                position: absolute;
                top: 62px;
                left: 15px;
                right: 15px;
            }
            @include breakpoint (md) {     
                position: absolute;
                top: 62px;
                left: 22px;
                right: 15px;
            }
            @include breakpoint (lg) {     
                position: absolute;
                top: 83px;
                left: 22px;
                right: 15px;
            }
            @include breakpoint (xl) {     
                position: absolute;
                top: 50px;
                left: 25px;
            }
        }
        &__shape3 {
            display: none;

            @include breakpoint (sm) {
                display: block;
                position: absolute;
                bottom: -112px;
                right: 15px;
                left: 15px;
            }
            @include breakpoint (md) {
                display: block;
                position: absolute;
                bottom: -112px;
                right: 15px;
                left: 22px;
            }

            @include breakpoint (lg) {
                display: block;
                position: absolute;
                bottom: -95px;
                right: 15px;
                left: 22px;
            }
            @include breakpoint (xl) {
                position: absolute;
                bottom: -129px;
                left: 22px;
                right: 22px;
            }
        }
        &__shape4 {
            display: none;

            @include breakpoint (sm) {
                display: block;
                position: absolute;
                bottom: -67px;
                right: 35px;
                left: 35px;
            }
            @include breakpoint (md) {
                position: absolute;
                bottom: -74px;
                right: 35px;
                left: 44px;
            }
            @include breakpoint (lg) {
                position: absolute;
                bottom: -57px;
                right: 35px;
                left: 44px;
            }
            @include breakpoint (xl) {
                position: absolute;
                bottom: -75px;
                right: 55px;
            }
        }
    }
    &-content {
        padding-top: 66px;
        @include breakpoint (max-xl) {
            padding-top: 35px;
        }
        &-checklist {
            padding-top: 27px;
            padding-bottom: 20px;
            &-item {
                display: flex;
                align-items: center;
                gap: 7px;
                padding-bottom: 20px;
                &__text {
                    color: $title-color;
                    font-family: $body-font;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 30px;
                }
            }
        }
    }
}