@use '../../root' as *;
@use '../../utilities' as *;

//>>>>> Breadcrumb Start <<<<<//
.breadcrumb {
    overflow: hidden;
    background-color: $title-color;
    padding: 282px 0 180px 0;
    margin: 0 auto;
    position: relative;
  
    @include breakpoint (max-md) {
        padding: 180px 0 80px 0;
    }  
  
    &-heading {
        position: relative;
        z-index: 6;
    
        h1 {
            color: $white;
            text-align: center;
            font-family: $title-font;
            font-size: 80px;
            font-style: normal;
            line-height: 86px;
            letter-spacing: -1.6px;
            text-transform: uppercase;
            @include breakpoint (max-md) {
                font-size: 42px;
            }
        }
        &__items {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 10px;
            gap: 14px;
            justify-content: center;
            list-style-type: none;
            padding-left: 0;
    
            @include breakpoint (max-md) {
            margin-top: 15px;
            }
    
            li {
                color: $theme-color;
                text-align: center;
                font-family: $body-font;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 30px;

                @include breakpoint (max-md) {
                    font-size: 20px;
                }
                &:hover {
                    color: $theme-color;
                }
        
                a {
                    color: $gray-color-1;
                    @include transition;
        
                    &:hover {
                        color: $theme-color;
                    }
                }
        
                i {
                    color: $gray-color-1;
                    text-align: center;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 900;
                    line-height: normal;
                }
            }
        }  
    }
}