@use '../../root' as *;
@use '../../utilities' as *;


.fancy-box {
    display: flex;
    align-items: center;
    gap: 20px;

    &--col {
        @include breakpoint (max-xsmall) {
            align-items: start;
            flex-direction: column;
        }
    }

    &__profile {
        img {
            border-radius: 100px;
        }
        &--img2 {
            margin-left: -42px;
        }
    }
    &-content {
        &__value {
            h5 {
                color: $theme-color;
                padding-bottom: 8px;
            }
        }
        &__title{
            text-transform: uppercase;
            padding-bottom: 8px;
        }
        &__desc {
            font-size: 16px;
        }

    }   

}


// Rating
.rating {
    &-box {
        display: flex;
        align-items: center;
        gap: 16px;
        @include breakpoint (xl) {
            justify-content: end;
        }
    }
    &__details {
        text-align: start;
        @include breakpoint (xl) {
            text-align: end;    
        }
    }    
}
