@use '../../root' as *;
@use '../../utilities' as *;


.progress-wrap {
    &:not(:last-child) {
        padding-bottom: 27px;
    }

	.progress-meta {
		display: flex;
		justify-content: space-between;
		max-width: 430px;
        padding-bottom: 10px;
		@include breakpoint (xs) {
			max-width: 470px;
		}
		@include breakpoint (md) {
			max-width: 575px;
		}
		@include breakpoint (lg) {
			max-width: 415px;
		}
		@include breakpoint (xxl) {
			max-width: 480px;
		}

		.title {
            color: $white;
            font-family: $title-font;
            font-size: 18px;
            font-style: normal;
            font-weight: 600;
            line-height: 20px;
            letter-spacing: -0.36px;
            text-transform: uppercase;
		}
		.title2 {
			color: $title-color;
			font-family: $title-font;
			font-size: 18px;
			font-style: normal;
			font-weight: 600;
			line-height: 20px; 
			letter-spacing: -0.36px;
			text-transform: uppercase;
		}

		.percentage {
            color: $white;
            font-family: $title-font;
            font-size: 18px;
            font-style: normal;
            font-weight: 600;
            line-height: 20px; 
            letter-spacing: -0.36px;
            text-transform: uppercase;
		}
		.percentage2 {
			color: $title-color;
			font-family: $title-font;
			font-size: 18px;
			font-style: normal;
			font-weight: 600;
			line-height: 20px; 
			letter-spacing: -0.36px;
			text-transform: uppercase;
		}

		&.mxw-424 {
			max-width: 375px;
			@include breakpoint (xs) {
				max-width: 420px;
			}
			@include breakpoint (md) {
				max-width: 510px;
			}
			@include breakpoint (lg) {
				max-width: 370px;
			}
			@include breakpoint (xxl) {
				max-width: 424px;
			}
		}
		&.mxw-375 {
			max-width: 340px;
			@include breakpoint (xs) {
				max-width: 370px;
			}
			@include breakpoint (md) {
				max-width: 450px;
			}
			@include breakpoint (lg) {
				max-width: 325px;
			}
			@include breakpoint (xxl) {
				max-width: 375px;
			}
		}
	}

	.progress-container {
		position: relative;
		max-width: 630px;
		height: 10px;
        border-radius: 2px;
        background: rgba(243, 96, 76, 0.30);
		overflow: visible;

		.progress-bar {
			height: 10px;
            border-radius: 2px;
            background: #F3604C;
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			white-space: nowrap;
			z-index: 1;
            
		}
	}
}